{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="login-container">
    <h1 class="login-title">{{ 'Welcome' | trans }} </h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <p>{{ 'push_for_connect' | trans }} :</p>
        <a href="{{ path('oidc_start') }}" class="login-btn">{{ 'Connexion' | trans }}</a>
   </div>
   
   {% endblock %}
