{% extends 'base.html.twig' %}

{% block title %}{{ 'type.list' | trans }}{% endblock %}

{% block body %}
    <div class="container container__type-list">
    <table>
        {% for type in types|batch(2) %}
            <tr>
                {% for item in type %}
                    <td>
                        <img src="{{ item.image }}" alt="{{ item.name }}" style="width: 50px; height: 50px;">
                    </td>
                    <td>
                        <p>{{ item.name }}</p>
                    </td>
                {% endfor %}
                {% if type|length < 2 %}
                    <td>
                        <img src="{{ item.image }}" alt="{{ item.name }}" style="width: 50px; height: 50px;">
                    </td>
                    <td>
                        <p>{{ item.name }}</p>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
